
        <style>
            form {
                margin-block-end: 0;
            }
            body {
                background: #D2E6AF;
            }
            .centrado {
                margin-top: 10vh;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
            }
            .color1{
                background: #CCD258;
                color:#D24BAE;
            }
            .color2{
                background: #D24BAE;
                color:#4F275B;
            }
            .color3{
                background: #4F275B;
                color:#836188;
            }
            .color4{
                background: #836188;
                color:#D2E6AF;
            }
            .color5{
                background: #D2E6AF;
                color:#414143;
            }
            .color6{
                background: #414143;
                color:#CCD258;
            }

        </style>
    
    <body>
    <div class="paleta">
    <div class="color1" >[#CCD258]</div>
    <div class="color2" >[#D24BAE]</div>
    <div class="color3" >[#4F275B]</div>
    <div class="color4" >[#836188]</div>
    <div class="color5" >[#D2E6AF]</div>
    <div class="color6" >[#414143]</div>
    </div>

    