{% include 'piezasComunes/cabezera.twig' %}
{% include 'piezasComunes/logoYnav.twig' %}

    <div class="objetocentrado apartadito">
        <label for="respuesta_del_examiando">{{pregunta.enunciado}}</label>
        <input type="text" id="respuesta_del_examiando">
    

        {% for respuesta in pregunta.respuestas %}
            <input class = 'respuesta' type="hidden" value = "{{respuesta}}">
        {% else %}
            
        {% endfor %}

        <div class="botoneraDedoGordo">
            <input type="button" id ="solucion" value="Ver solucion">
            <input type="button" id ="corrige" value="Corregir">
        </div>

        
    </div>
    
    <script>
        $(document).ready(function(){
            console.log('listo');
            $( ".respuesta" ).each(function( index ) {
                console.log( index + ": " + $( this ).val() );
            });
            function corregir () {
                var respuesta_del_examiando = $( "#respuesta_del_examiando" ).val();
                console.log(respuesta_del_examiando);
                var iscorrecta = false;

                $( ".respuesta" ).each(function( index ) {
                    if ( $(this).val() == respuesta_del_examiando){
                        console.log($(this).val());
                        console.log(respuesta_del_examiando);
                        iscorrecta = true;
                    }
                    
                });
                return iscorrecta;

            }
            $( "#corrige" ).click(function() {
              alert (corregir());
              
            });
            $( "#solucion" ).click(function() {
                var repuestas = '';

                $( ".respuesta" ).each(function( index ) {
                    repuestas = repuestas + $(this).val()+' o \n';

                });
                $("#respuesta_del_examiando").focus();
                alert (repuestas);
              
            });

            $("#respuesta_del_examiando").keypress(function(e) {
                if(e.which == 13) {
                    alert (corregir());
                }
            });
            

        });
    </script>


</body>
</html>

