
{% include 'piezasComunes/cabezera.twig' %}

<div class="googleSearchStyle apartadito">

    {% for item in lista %}

        <a href="/contestar/enunciadorespuesta/{{item.id}}">{{item.enunciado}}</a> <br>

    {% endfor %}
</div>