{% include 'piezasComunes/cabezera.twig' %}
{% include 'piezasComunes/logoYnav.twig' %}

<div class="objetocentrado apartadito">

    
    {% for opcion in opcionesMenu %}
        <div class="apartadito_botonLargo">
            <a href="{{opcion.ruta}}">{{opcion.slug}}</a> 
        </div>
    {% else %}
        Ninguna opcion aqui.
    {% endfor %}
    <br>
    {# <br>Ejemplo de elemento de array de arrays asociativos #}
    {# <br> {{opcionesMenu2[0].coche}} #}
</div>


{% include 'piezasComunes/final.twig' %}